.form-group input{
  border-radius: 0;
  border:0;
  background-color: #8c7391;
  cursor: pointer;
}
.form-group input::placeholder{
  color: #b9bdbc;
}
.btnclass{
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
.btnclass button{
  background-color: tomato;
  color: white;
  border-radius: 3px;
}
